@font-face {
    font-family: 'CothamSans'; 
    src: url('fonts/CothamSans.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}

body {
    font-family: 'CothamSans', sans-serif; 
}
.coding-images {
    width: 100vh; 
    height: auto; 
    border: 3px, dashed greenyellow;
    padding: 1vh;
    margin-bottom: 10vh;
    margin-top: 3vh;
}


.miffy-button {
    background-color: #f3233b; 
    border: 3px dashed rgb(255, 139, 236);
    color: #ffffff;     
    border-radius: 2px; 
    padding: 8px 14px; 

    font-size: 20px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}

.miffy-button:hover {
    background-color: #e9f323;
    color: #f7f8f8; 
    border: 3px dashed rgb(31, 221, 31);
}

h3 {
    color: black;
    

}

#dog {
    width: 10vh; 
    height: auto; 

    animation: rotate 4s linear infinite;
    margin-bottom: 1rem;
    transform: scale(0.5);
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* .index-nav {

  } */



